/*-----font-face------*/
@font-face {
  font-family: 'Nunito-Regular';
  src: url('../fonts/Nunito-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Nunito-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Nunito-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Nunito-Light';
  src: url('../fonts/Nunito-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Nunito-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Nunito-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Nunito-Bold';
  src: url('../fonts/Nunito-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Nunito-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Nunito-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}


*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, a:link, a:visited, a:active, a:hover {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
a {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}



/*------------------------------------------------------*/
/*-global css---
/*------------------------------------------------------*/

body{
	margin:0;
	padding:0;
	font-size:16px;
	line-height:normal;
	color:#464e61;
	font-family: 'Nunito-Regular';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x:hidden;
}
h1,h2,h3,h4,h5,h6,ul{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Nunito-Bold';
}

a, a:link, a:visited, a:active, a:hover {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
a {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
ul, ol{
    list-style: none;
}

.bg-home{ background: url(../images/background.jpg);}
.bg-inner{ background: url(../images/inner-banner.jpg); background-size: 100% 100%;}
.red{ color: #f7701f;}
.nopadding{ padding:0 !important;}
.nomargin{ margin-left:0 !important; margin-right:0 !important;}

.padding-t-10{ padding-top:10px;}
.padding-b-10{ padding-bottom:10px;}
.padding-t-20{ padding-top:20px;}
.padding-b-20{ padding-bottom:20px;}
.padding-t-30{ padding-top:30px;}
.padding-b-30{ padding-bottom:30px;}
.padding-t-40{ padding-top:40px;}
.padding-b-40{ padding-bottom:40px;}

.margin-t-10{ margin-top:10px;}
.margin-b-10{ margin-bottom:10px;}
.margin-t-20{ margin-top:20px;}
.margin-b-20{ margin-bottom:20px;}
.margin-t-30{ margin-top:30px;}
.margin-b-30{ margin-bottom:30px;}
.margin-t-40{ margin-top:40px;}
.margin-b-40{ margin-bottom:40px;}

.btn-read-more{
    padding: 10px 20px 15px;
    background: #14192b;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    border: 0;
}
.btn-read-more:hover{
    color: #fff;
    background: #f7701f;
}

.btn-read-more1{
    padding: 10px 20px 15px;
    background: #f7701f;
    color: #fff;
    margin-top: 30px;
    display: inline-block;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.5);
}
.btn-read-more1:hover{
    color: #fff;
    background: #14192b;
}

/*----------------------------------------------*/
/*header part
/*------------------------------------------------------------*/
header{
    position: relative;
    margin: 0;
    padding: 0;
}



/*--------------------------------------------*/
/*logo part---------*/
/*-------------------------------------------------*/
.logo-pt{
    width: 100%;
    float: left;
    padding-top: 10px;
}
.cart{
    padding: 7px 10px;
    background: #f7701f;
    color: #fff;
    float: right;
    text-align: center;
    position: relative;
}
.cart:before{
    position: absolute;
    content: '';
    transform: rotate(45deg);
    z-index: -1;
    border: 16px solid #;
    bottom: -5px;
    margin-left: 4px;
}
header h1{
    margin: 0;
    color: #fff;
    font-size: 48px;
}
header h1 span{
    color: #f7701f;
}
header h2{
    margin:25% 0 100px 0;
    text-align: center;
    color: #fff;
    text-shadow: 0px 2px 0px #000;
    font-size: 40px;
}
header h2 small{
    color: #000;
    clear: both;
    display: block;
    margin-top: 10px;
    text-shadow: none;
}
header h3{
    margin:100px 0;
    text-align: center;
    color: #fff;
    text-shadow: 0px 2px 0px #000;
    font-size: 36px;
}
/*--------------------------------*/
/*subject part
/*----------------------------------------*/
.subject-main{
    margin: 80px 0;
    width: 100%;
    display: inline-block;
}
.subject-main .item-pt{
    text-align: center;
    margin-bottom: 20px;
}
.subject-main .item-pt img{
    text-align: center;
    margin-bottom: 10px
}
.subject-main .item-pt a{
    display: block;
    background: #14192b;
    border: 1px solid #6d738a;
    color: #fff;
    padding: 5px 0 10px;
    font-family: 'Nunito-Light';
    font-size: 14px;
}


/*---------------------------------*/
/*welcome
/*-------------------------------------------*/
.welcome-pt{
    padding: 50px 0;
    margin: 0;
    position: relative;
    background: #fff;
}
.welcome-pt h1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: url(../images/divider.jpg) bottom center no-repeat;
    font-size: 36px;
    color: #14192b;
    text-align: center;
}
.left-panel .item-pt{
    position: relative;
    padding-left: 90px;
    margin-bottom: 30px;
}
.left-panel .item-pt img{
    position: absolute;
    left: 0;
    top: 0;
}
.left-panel .item-pt h4{
    margin-bottom: 10px;
    font-size: 20px;
    color: #14192b;
}
.left-panel .item-pt p{
    font-size: 15px;
    line-height: 22px;
    color: #777;
    text-align: justify;
}
.right-panel{
    border: 1px solid #f7701f;
    width: 100%;
    display: block;
}
.right-panel h3{
    padding: 10px;
    color: #14192b;
    font-size: 24px;
    margin-bottom: 10px;
}

/*--------------------------------*/
/* video part
/*------------------------------------------*/
.video-part{
    padding: 70px 0;
    margin: 0;
    background: url(../images/welcome-bg.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.video-main{
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    width: 100%;
    display: inline-block;
    padding: 50px 30px;
}
.video-main h1{
    font-size: 36px;
    color: #f7701f;
    margin-bottom: 30px;
}
.video-main p{
    text-align: justify;
    line-height: 20px;
    margin-bottom: 20px; 
}
.video-main img{
    float: right;
}



/*------------------------------------------*/
/*product part
/*------------------------------------------------------*/
.product-main{
    padding: 50px 0;
    margin: 0;
    background: #fff;
    position: relative;
}
.product-main h1{
    font-size: 36px;
    color: #14192b;
    margin-bottom: 50px;
    text-align: center;
}
.pro-item{
    width: 100%;
    display: inline-block;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.pro-item img{
    width: 100%;1
}
.pro-item .text-part{
    padding: 15px 20px;
    display: block;
}
.pro-item .text-part h3{
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}
.pro-item .text-part p{
    font-size: 12px;
    margin-bottom: 20px;
}
.pro-item .text-part span{
    text-decoration: line-through;
}
.pro-item .text-part .btn1{
    background: #f7701f;
    color: #fff;
    padding: 3px 10px 8px;
    vertical-align: top;
    display: inline-block;
    font-size: 14px;
}
.pro-item .text-part .btn2{
    background: #14192b;
    color: #fff;
    display: inline-block;
    padding: 3px 10px 8px;
    vertical-align: top;
    font-size: 14px;
}

/*------------------------------------*/
/* testimonail 
/*---------------------------------------------*/
.testimonial{
    margin: 0;
    padding: 50px 0;
    background: url(../images/testimonial-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.testimonial h1{
    font-size: 36px;
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
}
.testimonial-main{
    width: 100%;
    display: inline-block;
    position: relative;
    background: rgba(255,255,255,0.8);
    margin-bottom: 20px;
}
.testimonial-main:before{
    position: absolute;
    background: url(../images/arrow-1.png) no-repeat;
    content: '';
    width: 100%;
    height: 100%;
    left: -5px;
    top: -5px;
}
.testimonial-main:after{
    position: absolute;
    background: url(../images/arrow-2.png) right bottom no-repeat;
    content: '';
    width: 100%;
    height: 100%;
    bottom: -5px;
    right: -5px;
}
.testimonial-main img{
    float: left;
    margin-right: 20px;
}
.testimonial-main .text-pt{
    padding: 20px;
}
.testimonial-main .text-pt p{
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 20px;
}
.testimonial-main .text-pt h3{
    font-size: 18px;
    color: #f7701f;
}
/*---------------------------------------*/
/*news part
/*--------------------------------------------------*/
.news-main{
    padding: 50px 0;
    margin: 0;
    position: relative;
}
.news-part{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #f7701f;
    padding: 20px 50px 10px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.news-part:before{
    position: absolute;
    background: #f7701f;
    content: '';
    width: 99%;
    height: 50px;
    border-bottom-left-radius: 15px;
    bottom: -20px;
    left: 0px;
    transform: rotate(-3deg);
    z-index: -1;
}
.news-part:after{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    transform: skew(60deg) rotate(25deg);
    background: #f7701f;
    left: 55%;
    bottom: -25px;
    z-index: -1;
}
.news-part h1{
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}
.news-part ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.news-part li{
    margin-bottom: 20px;
    width: 100%;
    float: left;
    color: #000;
}
.news-main a{
    color: #000;
}


/*------------------------------*/
/*about-us
/*------------------------------------*/
.about-part{
    padding:80px 0 50px;
    margin: 0;
    position: relative;
    background: #f1f1f1;
}
.about-service {
    display: block;
    position: relative;
    background: #34495e;
    color: #c0cbd5;
    padding:20px;
    min-height: 160px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.about-service h2{
	font-size:24px;
	color:#fff;
	margin-bottom:10px;
}
.about-service p{
    font-size: 14px;
    color: #c0cbd5;
    line-height: 18px;
}
.about-service p a{
    color: #f7701f;
}
.about-service p a i{
    color: #fff;
}
.tt-service-icon {
    float: left;
    width: 80px;
    text-align: center;
    color: #fff;
	font-size:80px;
}
.about-service:hover .tt-service-icon{
    color: #f7701f;
}
.tt-service-info {
    padding-left: 110px;
}



/*-----------------------*/
/*join-part
/*----------------------------------*/
.join-part{
    margin: 0;
    padding: 100px 0;
    background: url(../images/join-bg.jpg) no-repeat;
}
.join-part h1{
    font-size: 48px;
    color: #fff;
    margin: 0 0 30px;
}
.join-part .btn{
    padding: 6px 25px 10px;
    border-radius: 15px;
}

/*-----------------------*/
/*login-part
/*----------------------------------*/
.login-part{
    margin: 0;
    padding: 50px 0;
    background: #f7701f;
}
.login-part h1{
    font-size: 36px;
    color: #fff;
    margin: 0 0 30px;
}
.login-part .btn{
    padding: 6px 25px 10px;
    border-radius: 15px;
}



/*--------------------------------------*/
/*footer part
/*----------------------------------------------*/
footer{
    background: #333333;
    padding: 50px 0;
    margin: 0;
    position: relative;
}
footer .foot-pnl{
    margin-bottom: 10px;
}
footer .foot-pnl ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
footer .foot-pnl h3{
    color: #999999;
    margin-bottom: 15px;
    font-size: 16px;
}
footer .foot-pnl ul li{
    margin-bottom: 15px;
    color: #999999;
    font-size: 14px;
}
footer .foot-pnl ul li a{
    color: #999999;
}
footer .foot-pnl ul li a:hover{
    color: #e2e2e2;
}
footer .foot-pnl h2{
    font-size: 16px;
    border-bottom: 1px solid #999999;
    color: #999999;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
footer .foot-pnl p a{
    font-size: 20px; 
    color: #999;
    padding: 0 5px 0 0;
}
footer .form-control{
    background: transparent;
    border:1px solid #565656;
    margin-bottom: 5px;
    color: #fff;
}

/*------------------------------*/
/*copyright
/*--------------------------------------*/
.copyright{
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
    background: #202020;
}

/*---------------------------------*/
/*inner page
/*-------------------------------------------*/
.inner-pt{
    padding: 50px 0;
    margin: 0;
    position: relative;
    background: #fff;
}
.inner-pt img{
    float: left;
    margin: 0 30px 15px 0;
}
.inner-pt p{
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
}
.inner-pt h3{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.inner-pt h4{
    font-size: 20px;
    margin-bottom: 15px;
}
.inner-pt h4 small{
    clear: both;
    display: block;
    margin-top: 5px;
    font-style: italic;
    font-family: 'Nunito-Light';
}
.inner-pt input, textarea, select {
    margin-bottom: 15px;
}
.inner-pt .btn-read-more{
    margin-top: 5px;
    float: right;
}


/*--------------------------*/
/*registration part
/*----------------------------------------*/

.registration{
    width: 100%;
    padding:20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    text-align: center;
    border: 1px solid #e2e2e2;
}


/*---------*/
/*packages part
/*-----------------------*/
.col-p-2{
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.packages{
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    margin: 20px 0;
    background: #fff;
    position: relative;
}
.packages h4{
    background: #405034;
    color: #fff;
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.packages .bg-color{
    background: #2f9f9e;
}
.packages .bg-color1{
    background: #4897cc;
}
.packages .bg-color2{
    background: #9c5d7a;
}
.packages .bg-color3{
    background: #e9a640;
}
.packages .price{
    position: relative;
    display: table;
    width: 100%;
}
.packages .price .txt-pt{
    padding: 0;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
    width: 110px;
    height: 110px;
    margin: 0 auto;
}
.packages .price p {
    color: #fff;
    padding: 10px 20px 16px;
    background: #03A9F4;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
}
.packages .content-pt{
    padding: 20px;
    color: #373737;
    background: #f1f1f1;
}
.packages .content-pt ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.inner-page li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #565656;
}
.inner-page li:last-child{
    margin-bottom: 0;
}
.inner-page li span{
    font-weight: bold;
    color: #000;
    margin-left: 5px;
}
.inner-page li i {
    position: absolute;
    top: 3px;
    left: 0;
    color: #d6a61b;
    font-size: 13px;
}
.packages .btn-pt {
    width: 50%;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    height:40px;
    background: #edac1c;
}
.packages .btn-pt a{
    color: #000;
}

.packages .btn-pt1 a{
    color: #fff;
    padding: 10px;
    display: block;
    background: #1e4a6d;
    font-size: 13px;
}